#cover{
    margin-top: 90px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 5%, rgba(0, 0, 0, 0.1) 100%), url('/public/images/cover-2.jpg');
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 5%, rgba(0, 0, 0, 0.1) 100%), url('/public/images/cover-2.jpg');
    background-position: center;
    background-size: cover;
}
#cover .container .wrapper_nav_link{
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

#introduction .icont .in_img img{
	width: 100%;
	height: 100%;
}

 #introduction .icont .in_img
{	
	width: 50%;
	z-index: 1;
    position: relative; /* Add this line */
}
@media (min-width: 992px)
{
	#introduction .icont .in_img
	{
		padding-right:  50px;
	}
}
@media (max-width: 991.98px)
{
	#introduction .icont .in_img
	{
		margin-bottom: 40px;
	}
}
#introduction .icont .in_img:before
{
	content: '';
	background:url("/public/images/dot.png") repeat;
	height: 150px;
	width: 150px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	-webkit-transform: translate(-15px,-30px);
	transform: translate(-15px,-30px);
}

#introduction .icont .icard .card:hover
{
	border-bottom: 2px solid #FF1744;
	background:#202022;
}

#introduction .icont .in_img:after
{
	content: '';
	border: 5px solid;
 	-webkit-border-image-source: -webkit-linear-gradient(145deg,#f81f01,#ee076e);
 	border-image-source: linear-gradient(145deg,#f81f01,#ee076e);
  	border-image-slice: 1;
	height: 90%;
	width: 90%;
	display: block;
	bottom: 0;
	left: 0;
	-webkit-transform: translate(-5px,20px);
	transform: translate(-5px,20px);
	z-index: -1;
    position: absolute; /* Add this line */
}
#introduction .icont .in_img img
{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
}

#introduction .icont .icard
{
	margin-top: 15px;
	margin-bottom: 15px;
}
#introduction .icont .icard .card
{
	overflow: hidden;
	border: 2px solid transparent;
	background:var(--bg-dark-cnt);
	-webkit-transition: 0.5s;
	transition: 0.5s;
	padding: 10px 10px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	height: 100%;
}
#introduction .icont .icard .card:hover
{
	border-bottom: 2px solid var(--color-sec);
	background: var(--bg-dark-hl);
}
#introduction .icont .icard .card .crd_cnt
{
	transition: 0.5s;
	-webkit-transition:0.5s;
    color: white;
}
#introduction .icont .icard .card:hover .crd_cnt
{
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
}

@media (min-width: 768px) and (max-width: 991.98px)
{
	#introduction .icont .icard .card
	{
		margin: 10px 10px;
	}
}
#introduction .icont .icard .card-title
{
	font-family: 'Poppins', sans-serif;
	color: var(--color-white);
	margin-bottom: 0!important;
}
#introduction .icont .icard  .card-title 
{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	font-size: 30px;	
	padding: 13px;
	
}
#introduction .icont .icard .card .crd_bdy
{
	max-width: 100%;
}

#introduction .icont .icard .card span:nth-child(2)
{
	font-weight: 700;
}
#introduction .icont .icard .card span:nth-child(3)
{
	font-weight: 400;
	font-size: 20px;
}
#introduction .icont .icard .card .card-text
{	
	
	color: rgba(255,255,255,0.9);
	font-size: 14px;
	font-weight: 600;
	color: var(--color-white);
	font-family: 'Poppins',sans-serif; 
}
