:root{
	--color-white: #FEFEFE;
	--color-lite: #ACACAC;
	--bg-dark: #101010;
	--bg-dark-cnt: #181818;
	--bg-dark-hl: #202022;
	--color-sec: #FF1744;
	--color-border: rgba(255,255,255,0.1);
}
/*--Project Detail--*/

#project_detail
{
	padding: 100px 15px 0px 15px;
}
#project_detail h2,#project_detail h3
{
	font-family: 'Poppins',sans-serif;
	font-weight: 600;
    color: var(--color-white)
}
#project_detail p
{
	margin-top: 30px;
	margin-bottom: 30px;
	font-family: 'Inter',sans-serif;
	color: var(--color-lite);
	font-size: 16px;
}
#project_detail .pd_inner_cnt .img-fluid
{
	height: 100%;
	object-fit: cover !important;
	object-position: center !important;
}

/*--Sidebar--*/

#project_detail .pd_sidebar
{
	padding-left: 30px;
	padding-right: 30px;
}
@media (max-width: 991.98px)
{
	#project_detail .pd_sidebar
	{
		padding-left: 15px;
		padding-right: 15px;
		margin-top: 25px;
	}
}
@media (max-width: 767.98px)
{
	#project_detail .pd_sidebar
	{
		margin-top: 25px;
	}
}
#project_detail .pd_sidebar .fa-ul
{
 	margin-left: 0 !important;
}
#project_detail .pd_sidebar li
{
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0;
}
#project_detail .pd_sidebar .pd_name
{
	font-family: 'Poppins',sans-serif;
	font-size: 16px;
	font-weight: 600;
}
#project_detail .pd_sidebar .pd_value
{
	font-family: 'Inter',sans-serif;
	font-size: 16px;
	color: var(--color-lite);
}
#project_detail .pd_sidebar .fa-ul a
{
	color: var(--color-sec);
}


#news
{
	background: var(--bg-dark);
	padding-top: 50px;
	padding-bottom: 50px;
}
#news .bl_sec {
	display: flex;
	flex-direction: column;
}

#news .bl_sec .card
{
	border: 0 !important;
	background: var(--bg-dark-cnt);
	font-family: 'Poppins',sans-serif;
	color: var(--color-white);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	overflow: hidden;
	-webkit-transition: 0.7s;
	transition: 0.7s;
	display: flex;
  flex-direction: column;
  flex: 1 1 auto; /* Grow and shrink as needed */
}
#news .bl_sec .card:hover
{
	-webkit-transform: translateY(-10px);
	transform: translateY(-10px);
	background: var(--bg-dark-hl);
}
/* #news .bl_sec .bl_img
{
	width: 100%;
	height: 200px;
	overflow: hidden;
} */

#news .bl_sec .bl_img {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 aspect ratio */
	height: 0;
	overflow: hidden;
	max-width: 100%;
	background: #000;
	flex: 0 1 auto; /* Do not grow, but can shrink */
  }

  #news .bl_sec .bl_img iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  }
/* #news .bl_sec .bl_img img
{	
	min-height: 100%;
	object-fit: cover !important;
	object-position: center !important;
} */

#news .bl_sec .bl_img img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover; /* Ensure the image covers the entire area */
  }
#news .bl_sec .bl_body
{
	padding: 15px;

	flex: 1 1 auto; /* Grow and shrink as needed */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#news .bl_sec .bl_body a
{
	color: var(--color-white);
	text-decoration: none;
}
#news .bl_sec .bl_body .bl_header .bl_date
{
	font-size: 12px;
	font-family: 'Inter',sans-serif;
	color: rgba(255,255,255,0.5);
}
#news .bl_sec .bl_body .bl_main
{
	/*=====Empty=====*/
}
#news .bl_sec .bl_body .bl_main .bl_title
{
	font-size: 15px;
	font-weight: 600;
}
#news .bl_sec .bl_body .bl_main .bl_title a
{
	color: var(--color-white);
	text-decoration: none;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}
#news .bl_sec .bl_body .bl_main .bl_title a:hover
{
	color: var(--color-sec);
}
#news .bl_sec .bl_body .bl_main .bl_text
{
	font-size: 14px;
	font-family: 'Inter',sans-serif;
	color: var(--color-lite);
	margin-top: 10px;
	margin-bottom: 15px;
}
#news .bl_sec .bl_body .bl_main .bl_btn a:hover
{
	background: var(--color-sec);
}
#news .bl_ftr
{	
	padding-top:  15px;
	border-top: 1px solid var(--color-border);
	flex: 0 1 auto; /* Do not grow, but can shrink */
}
#news .bl_ftr a
{
	text-decoration: none;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}
#news .bl_ftr a span
{
	-webkit-transition: 0.5s;
	transition: 0.5s;
}
#news .bl_ftr .ln1:hover .lns2 .usr_name
{
	color: var(--color-sec);
}
#news .bl_ftr .ln1 .usr_name
{
	font-size: 14px;
	color: var(--color-white);
	font-weight: 500;
	font-family: 'Poppins',sans-serif
}
#news .bl_ftr .ln1 .usr_name,#news .bl_ftr .ln1 .usr_date
{
	display: block;
}
#news .bl_ftr .ln1 .lns2 .usr_date
{
	font-size: 12px;
	font-family: 'Inter',sans-serif;
	text-decoration: none;
	color: var(--color-lite	);
	
}
#news .bl_ftr .ln2 .usr_cmt
{
	color: rgba(255,255,255,0.5);
	font-size: 14px;
	color: var(--color-white);
}
#news .bl_ftr .ln2 .usr_cmt:hover
{
	color: var(--color-sec);
}
#news .bl_full_ln
{
	color: var(--color-white);
	font-family: 'Poppins',sans-serif;
	text-align: center;
	font-size: 14px;
	padding-top: 50px;
	padding-bottom: 50px;
}
#news .bl_full_ln a
{
	color: var(--color-sec);
	text-decoration: none;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	font-weight: 500;
}
#news .bl_full_ln a:hover
{
	text-decoration: underline;
}

.pr_lnk {
	flex: 0 1 auto; /* Do not grow, but can shrink */
  }

  #news .bl_sec {
	padding: 10px;
  }
  
  #news .card {
	margin-bottom: 20px;
  }

  /* @media (max-width: 575.98px) {
	.bl_sec {
	  flex: 0 0 50%;
	  max-width: 50%;
	}
  } */